quart
aiohttp
quart-auth
quart-cors
quart_jwt_extended
alembic
mysqlclient
sqlalchemy
aiomysql
azure-cosmos
azure-storage-blob
azure-ai-documentintelligence
azure-cognitiveservices-speech
azure-search-documents
msal
openai
openai-messages-token-helper
python-dotenv
pydantic_settings
langchain
langchain_community
beautifulsoup4
pypdf
uvicorn